<!-- #footer -->
<footer id="footer" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
    <div class="primary">
        <p><%- __('Powered by') %></p>
    </div>
    <div class="secondary">
        <p><%- __('Design in Iran') %></p>
    </div>
</footer>
<!--/#footer -->

<!-- #to-top -->
<a id="to-top" href="#top" onclick="return false">
    <i class="fa fa-chevron-up"></i>
</a>
<!--/#to-top -->