<header id="header" role="banner" itemscope="itemscope" itemtype="http://schema.org/WPHeader">

    <%- partial('partial/page-navbar') %>

    <!-- #site-title -->
    <div id="site-title">
        <hgroup>
            <h1 class="logo" itemprop="headline"><%- __(config.title) %></h1>
            <h2 class="adv-hr">
                <span itemprop="description"><%- __(config.subtitle) %></span>
            </h2>
        </hgroup>
    </div>
    <!--/#site-title -->
</header>