<% if (site.tags.length){ %>
<aside id="wiget-tag_cloud" class="widget widget_tag_cloud">
    <h3 class="widget-title"><%= __('Tags') %></h3>
    <div class="tagcloud">
        <% site.tags.forEach(function (tag) { %>
        <a href="<%= tag.path %>" class="" title="<%= tag.name %>"><%= tag.name %></a>
        <% }) %>
    </div>
</aside>
<% } %>