p {
  color: $gray-base;
  font-size: 16px;
  line-height: 26px;
}

a {
  padding: 0 5px;
  color: $brand-primary;

  &:hover {
    color: $white;
    background-color: $brand-primary;
    text-decoration: none;
    @include transition;
    @include border-radius(2px);
    @include md-shadow-3;
  }
}

pre {
  color: $gray-darker;
  background-color: $gray-lighter;
  border-color: $gray;
}

hr {
  border-color: $gray;
}

blockquote {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: $gray-lighter;
  color: $gray-base;
  border-right: 5px solid $gray-light;
  font-size: 14px;
  line-height: 24px;

  p {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}