<div class="col-xs-12"
     role="main"
     itemprop="mainContentOfPage"
     itemscope="itemscope"
     itemtype="http://schema.org/Blog">

    <%- partial('parts/page-single', {page: page}) %>

</div>