<div class="col-xs-12"
     role="main"
     itemprop="mainContentOfPage"
     itemscope="itemscope"
     itemtype="http://schema.org/Blog">

    <%- partial('parts/page/single', {page: page}) %>

    <div class="row">
        <div class="col-md-6">
            <%- partial('parts/page/about/timeline', {page: page}) %>
        </div>

        <div class="col-md-6">
            <%- partial('parts/page/about/contact', {page: page}) %>
        </div>
    </div>

</div>