<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9"
     role="main"
     itemprop="mainContentOfPage"
     itemscope="itemscope"
     itemtype="http://schema.org/Blog">

    <%- partial('parts/post/single', {post: page}) %>

</div>

<div id="primary-sidebar"
     class="sidebar col-xs-12 col-sm-12 col-md-4 col-lg-3"
     role="complementary"
     itemscope="itemscope"
     itemtype="http://schema.org/WPSideBar">

    <%- partial('parts/site/sidebar') %>

</div>