#main-container {
    min-height: 100vh;
    padding-bottom: 163px;
    position: relative;
    
    #to-top {
        width: 55px;
        height: 55px;
        background-color: $brand-danger;
        color: $white;
        text-align: center;
        display: block;
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 9999;
        opacity: 0;
        cursor: pointer;
        @include transition(400ms opacity ease);
        
        &:hover {
            background-color: $brand-danger2;
        }
        
        i {
            font-size: 22px;
            line-height: 55px;
        }
    }
}

@import "header.scss";
@import "wraper.scss";
@import "footer.scss";
