body {
  background-color: $gray-light;
  color: $gray-base;
  font-family: $fonts;
}

h1 {
  font-family: $fonts;
  font-weight: 700;
}

h2 {
  @extend h1;
}

h3 {
  @extend h1;
}

h4 {
  @extend h1;
}

h5 {
  @extend h1;
}

h6 {
  @extend h1;
}

p {
  font-size: 16px;
  line-height: 26px;
}

pre {
  color: $gray-darker;
  background-color: $gray-lighter;
  border-color: $gray;
}

hr {
  border-color: $gray;
}

blockquote {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: $gray-lighter;
  color: $gray-base;
  border-right: 5px solid $gray-light;
  font-size: 14px;
  line-height: 24px;

  p {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}

.tooltip {
  font-family: $fonts;
}

.popover {
  font-family: $fonts;
}

* {
  &::selection {
    background-color: $gray-base;
    color: $white;
  }
}

img {
  max-width: 100%;
  height: auto !important;
}

.required {
  color: $brand-danger;
}
