#main-container {
  min-height: 100vh;
  padding-bottom: 163px;
  position: relative;

  #to-top {
    width: 50px;
    height: 50px;
    background-color: $gray-darker;
    color: $white;
    text-align: center;
    display: block;
    position: fixed;
    bottom: 7.5px;
    right: 10px;
    z-index: 9999;
    opacity: 0;
    cursor: pointer;
    @include md-shadow-1;
    @include border-radius(55px / 2);
    @include transition;

    &:hover {
      @include md-shadow-4;
      background-color: $gray-base;
    }

    i {
      font-size: 15px;
      line-height: 50px;
    }
  }
}

@import "header.scss";
@import "wraper.scss";
@import "footer.scss";
