// default font families
$fonts:  "IRANSans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$xs: 0px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

$xxs: 580px;

$white: #FFFFFF;
$black: #000000;

$github-color: #333333;
$facebook-color: #3b5998;
$twitter-color: #55acee;
$gplus-color: #dd4b39;
$linkedin-color: #0077b5;
$telegram-color: #0088cc;
$website-color: #ea4335;
