.widget {
    padding: 20px;
    margin: 20px 0;
    background-color: $white;
    overflow: hidden;
    @include border-radius(4px);
    @include md-shadow-1;

    .screen-reader-text {
        @include bs-sr-only;
    }

    .widget-title {
        padding: 15px 20px;
        margin: -20px -20px 20px;
        background-color: $gray-darker;
        color: $white;
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
        @include md-shadow-2;

        a {
            color: $white;
        }
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            color: $gray-darker;
            font-size: 14px;
            line-height: 18px;

            a {
                padding: 5px 10px;
                display: inline-block;
                color: $gray-darker;
                @include border-radius(4px);
                @include transition;

                &:hover {
                    background-color: $gray-light;
                    text-decoration: none;
                    @include md-shadow-4;
                }
            }
        }

        ul {
            padding-right: 10px;
            margin-right: 10px;
            border-right: 3px solid $gray;
        }
    }

    &.widget_search {
        background-color: $white;
    }

    &.widget_links {}

    &.widget_archive {
        select {
            @include bs-form-control;
        }
    }

    &.widget_categories {
        @extend .widget_archive;
    }

    &.widget_tag_cloud {
        .tagcloud {
            a {
                padding: 2px 28px 2px 8px;
                margin: 4px 0px;
                background-color: $gray-lighter;
                color: $gray-base;
                font-size: 12px;
                line-height: 20px;
                display: inline-block;
                position: relative;
                @include border-radius(18px);
                @include transition;
                @include md-shadow-1;

                &:after {
                    width: 24px;
                    height: 24px;
                    background-color: $gray-lighter;
                    border: 8px solid $gray-light;
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    content: ' ';
                    @include border-radius(50%);
                    @include transition;
                }

                &:hover {
                    background-color: $gray-light;
                    text-decoration: none;
                    @include md-shadow-4;

                    &:after {
                        background-color: $gray-light;
                        border-color: $gray-darker;
                    }
                }

                &:focus {
                    background-color: $gray-light;
                    text-decoration: none;
                    @include md-shadow-2;

                    &:after {
                        background-color: $gray-light;
                        border-color: $gray-darker;
                    }
                }
            }
        }
    }
}

@import "codeyab-image-widget.scss";
@import "widget-about-me";
