.widget {
  padding: 20px;
  margin: 20px 0;
  background-color: $white;
  overflow: hidden;
  @include border-radius(4px);
  @include md-shadow-1;

  .screen-reader-text {
    @include bs-sr-only;
  }

  .widget-title {
    padding: 15px 20px;
    margin: -20px -20px 20px;
    background-color: $gray-darker;
    color: $white;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    @include md-shadow-2;

    a {
      color: $white;
    }
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      color: $gray-darker;
      font-size: 14px;
      line-height: 18px;

      a {
        padding: 5px 10px;
        display: inline-block;
        color: $gray-darker;
        @include border-radius(4px);
        @include transition;

        &:hover {
          background-color: $gray-light;
          text-decoration: none;
          @include md-shadow-4;
        }
      }
    }

    ul {
      padding-right: 10px;
      margin-right: 10px;
      border-right: 3px solid $gray;
    }
  }

  &.widget_search {
    background-color: $white;

    input[type="text"] {
      border: none;
      border-bottom: 3px solid $gray-light;
      z-index: 1;
      @include border-radius(0);

      &:focus {
        border-bottom-color: $gray-darker;
      }
    }

    .input-group-btn {
      z-index: 2;
    }

    button {
      width: 46px;
      height: 46px;
      padding: 0;
      background-color: $gray-darker;
      color: $gray-base;
      border: none;
      font-size: 16px;
      text-align: center;
      display: inline-block;
      z-index: 2;
      @include md-shadow-1;
      @include border-radius(46px / 2);
      @include transition;

      i {
        line-height: 46px;
        color: $white;
      }

      &:hover {
        background-color: $gray-base;
        @include md-shadow-4;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &.widget_links {
  }

  &.widget_archive {
    select {
      @include bs-form-control;
    }
  }

  &.widget_categories {
    @extend .widget_archive;
  }

  &.widget_tag_cloud {
    .tagcloud {
      a {
        padding: 2px 28px 2px 8px;
        margin: 4px 0px;
        background-color: $gray-lighter;
        color: $gray-base;
        font-size: 12px;
        line-height: 20px;
        display: inline-block;
        position: relative;
        @include border-radius(18px);
        @include transition;
        @include md-shadow-1;

        &:after {
          width: 24px;
          height: 24px;
          background-color: $gray-lighter;
          border: 8px solid $gray-light;
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          content: ' ';
          @include border-radius(50%);
          @include transition;
        }

        &:hover {
          background-color: $gray-light;
          text-decoration: none;
          @include md-shadow-4;

          &:after {
            background-color: $gray-light;
            border-color: $gray-darker;
          }
        }

        &:focus {
          background-color: $gray-light;
          text-decoration: none;
          @include md-shadow-2;

          &:after {
            background-color: $gray-light;
            border-color: $gray-darker;
          }
        }
      }
    }
  }

  &.widget-about-me {
    padding: 0;
    background-color: transparent;
    overflow: hidden;
    @include border-radius(4px);
    @include md-shadow-1;

    .logo {
      width: 156px;
      height: 156px;
      margin: 0 auto 15px;
      background: $white;
      border: 3px solid $gray-lighter;
      @include border-radius(50%);
      @include md-shadow-2;
      overflow: hidden;

      img {
        width: 100% !important;
        height: 100% !important;
      }
    }

    .about-content {
      p {
        margin-bottom: 0;
      }

      a {
        font-size: 12px;
        line-height: 20px;
      }
    }

    .widget-body {
      padding: 20px;
      //margin: 20px 0;
      background-color: $white;
      @include box-shadow(0 2px 10px rgba($gray-base, 0.3));
    }

    .modern-boxed {
      .about-header {
        height: 100px;
        padding-top: 25px;
        margin: -20px -20px 90px;
        background: $gray-darker;
        @include md-shadow-2;

        .logo {
          margin-bottom: 0;
        }
      }
    }

    .about-social-links {
      margin-top: 15px;
      text-align: center;

      .link {
        width: 40px;
        height: 40px;
        margin: 0 2px;
        display: inline-block;
        color: $white;
        background-color: $gray-darker;
        @include border-radius(20px);
        text-align: center;
        line-height: 40px;
        @include md-shadow-1;
        @include transition;

        &:hover {
          background-color: darken($gray-darker, 10%);
          @include md-shadow-4;
        }

        i {
          line-height: 40px;
        }
      }

      .github {
        background-color: $github-color;

        &:hover {
          background-color: darken($github-color, 10%);
        }
      }
      .facebook {
        background-color: $facebook-color;

        &:hover {
          background-color: darken($facebook-color, 10%);
        }
      }
      .twitter {
        background-color: $twitter-color;

        &:hover {
          background-color: darken($twitter-color, 10%);
        }
      }
      .googleplus {
        background-color: $gplus-color;

        &:hover {
          background-color: darken($gplus-color, 10%);
        }
      }
      .telegram {
        background-color: $telegram-color;

        &:hover {
          background-color: darken($telegram-color, 10%);
        }
      }

    }
  }

  &.widget_image {
    .image_container {
      img {
        max-width: 100%;
        margin: 0 auto;
        display: block;
      }

      &.full-width {
        margin: -20px;

        img {
          width: 100%;
        }
      }
    }
  }

}